{% extends 'common/base.html' %}

{% block title %}Bad Request{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">400</h1>
        <p class="fs-3"><span class="text-danger">Oops!</span> Bad request.</p>
        <p class="lead">
            The server could not understand the request.
        </p>
        <a href="{% url 'common:home' %}" class="btn btn-primary">Go Home</a>
    </div>
</div>
{% endblock %}